@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');
body{
  background-color: #EEEEEE;
}

.Page{ /* For all pages */
  width:100vw;
  height: 100vh;
  background-color: #EEEEEE; 
}

#ColorOnNav{
  color:black; /* For Nav links */
  font-family: 'Kanit', sans-serif;
}

#ColorOnNav:hover{
  color:rgb(0, 102, 255);
}


.bg-TopNavColor{
  background-color:#F5F5F5;
}

.tasks {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}

.responsive-map {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.responsive-map iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.responsive-title{
font-family: 'Fugaz One',cursive;
}

@media only screen and (max-width: 600px){
  /* Adjusting for Mobile view*/

  .responsive-map{
    height: 700px; /* Gmap */
  }

  .responsive-alert{
    position: relative;
    left:-595px; /* Notification Page */
  }

  .responsive-title{
    position: relative;
    left:100px; /* Title on Top NavBar */
  }

  .responsive-col{
    padding: 20px;
  }

}

