@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

body {
  background-color: #EEEEEE;
}

.Page {
  /* For all pages */
  width: 100%;
  background-color: #EEEEEE;
}

#ColorOnNav {
  color: orange;
  /* For Nav links */
  font-family: 'Kanit', sans-serif;
}

#ColorOnNav:hover {
  color: rgb(236, 159, 15);
}


.bg-TopNavColor {
  background-color: #F5F5F5;
}


.tasks {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
  padding: '20px';
}


.adjust-tasks {
  padding: 100px;
}

.adjust-charts {
  padding: 100px;
  padding-top: 50px;
}


@media only screen and (max-width: 600px) {
  /* Adjusting for Mobile view*/

  
  .map-responsive iframe {
    height: 100%;
    width: 100%;
    position: absolute;
  }


  .adjust-tasks {
    padding: 10px;
  }
  .responsive-alert {
    position: relative;
    left: -595px;
    /* Notification Page */
  }

  .responsive-title {
    position: relative;
    left: 100px;
    /* Title on Top NavBar */
  }

  .responsive-col {
    padding: 20px;
  }

  .adjust-charts {
    padding: 5px;
    padding-bottom: 10px;
  }

}